:root {
  --primary-color: #302AE6;
  --secondary-color: #f0f0f0;
  --tertiary-color: #c9c9c9;
  --font-color: #424242;
  --font-white-color: #e1e1ff;
  --bg-color: #fff;
  --heading-color: #292922;
  --green-color: #20bf55;
  --red-color: #E34234;
  --border-radius-default: 4px;
  --border-radius-big: 6px;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #27273f;
  --tertiary-color: #585878;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  min-width: 100%;
  min-height: 100%;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.themeBackground {
  transition: background-color 0.2s ease, color 0.1s ease;
}

@media screen and (min-width: 769px) {
  /* DESKTOP */
  .mobileOnly {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* MOBILE */
  .desktopOnly {
    display: none;
  }
}